@charset "UTF-8";
p {
  font-size: 16px;
  font-size: 1.6rem; }

html {
  font-size: 62.5%; }

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif; 
} 

li{
    list-style: none;
}  

a{
    text-decoration:none;
    color:#000000;
    cursor:pointer;
}

a:hover{
    opacity:0.5;
    color:#000000;
}

body{
    margin:0;
}

header{
    z-index:10;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

header #sp-head{
    padding:40px;
}

header #sp-head .head-left img{
    float:left;
    width:30%;
}

header #sp-head .head-right img{
    float:right;
    width:10%;
}

@media(min-width:640px){
    header #sp-head{
        display:none;
    }
}

@media(max-width:500px){
    header #sp-head .head-left img{
        width:40%;
        min-width:150px;
    }
    header #sp-head .head-right img{
        width:15%;
        min-width:45px;
    }
}

@media(max-width:400px){
    header #sp-head .head-left img{
        width:50%;
        min-width:150px;
    }
    header #sp-head .head-right img{
        min-width:45px;
    }
}

header #pc-head{
    max-width:1200px;
    width:90%;
    margin:auto;
    z-index:10;
}

header #pc-head .head-left img{
    float:left;
    width:30%;
}

header #pc-head .head-right{
    float:right;
}

header #pc-head .head-right ul li{
    display:inline-block;
    padding:10px;
}

header #pc-head .head-right ul li a{
    color:#ff0461;
    font-weight:bold;
    cursor:pointer;
    font-size: 1.5rem;
}

header #pc-head .head-right ul{
    padding-left:0;
}

@media(min-width:640px){
    header #pc-head .head-right ul{
        padding-top:0px;
    }
}

@media(min-width:900px){
    header #pc-head .head-right ul{
        padding-top:10px;
    }
}

@media(max-width:641px){
    header #pc-head{
        display:none;
    }
}

.sp-navi{
    position:fixed;
    top:0;
    left:0;
    z-index:11;
    width: 100%;
    padding:40px 0;
}

.sp-navi .head-close img{
    width:10%;
    padding-right:40px;
}

.sp-navi .head-close{
    text-align:right;
}

.sp-navi .navi-li{
    text-align:center;
    padding-left:0;
}

.sp-navi .navi-li li a{
    color: #ff0461;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
}

.sp-navi .navi-li li{
    padding:10px;
}

.sp-navi{
    background-color:white;
    display:none;
}

header .close{
    display:none;
}

@media(max-width:500px){
    header .sp-navi .head-close img{
        width:15%;
        min-width:45px;
    }
}

@media(min-width:640px){
    header .sp-navi{
        display:none;
    }
}

header #sp-head .head-right img, header .sp-navi .head-close img{
    cursor:pointer;
}

#main{
    width:100%;
}

#main #top-wrapper{
    width:100%;
    background-image:url("../images/top-image.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height:300px;
    background-position:center;
}

#main #top-wrapper .name{
    text-align:center;
    color:white;
    padding-top:15rem;
}

#main #top-wrapper .name h1{
    margin:0;
    font-size:3rem;
}

#main #top-wrapper .name p{
    font-size:1.5rem;
    font-weight:bold;
}

#main .title{
    color:#ff0461;
    text-align:center;
    font-size:1.5rem;
    padding:3rem;
}

#main #about{
    background-color:#eeeeee;
    text-align:center;
    padding:5rem 2rem;
}

#main .title h2{
    margin-bottom: 2rem;
    margin-top: 0;
}

#about .selfimage img, #detail .selfimage img{
    width:40%;
    border-radius:50%;
    min-width:180px;
}

#about .self-text p{
    padding-bottom:3rem;
}

#about .more-btn img{
    width:20%;
    min-width:100px;
}

@media(min-width:640px){
    #about .pc-about{
        display:flex;
        justify-content:space-between;
        width:100%;
        margin:auto;
        max-width:900px;
    }
    
    #about .selfimage{
        padding:0 40px;
        width:250%;
        margin-top:2rem;
    }
    
    #about .pc-about .selfimage img{
        width:100%;
        max-width:210px;
    }
    
    #about .right-box{
        padding-right:20px;
    }
}

@media(min-width:800px){
    #about .pc-about{
        width:90%;
    }
}

@media(min-width:960px){
    #about .selfimage{
        width:150%;
    }
    #about .pc-about{
        width:80%;
    }
}

#skills{
    text-align:center;
    margin:auto;
    padding:5rem 2rem;
}

#skills .skill-block .skill{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-bottom:3rem;
}

#skills .skill-block{
    width:100%;
}

#skills .skill .skill-img{
    width:60%;
    text-align:right;
}

#skills .skill .skill-img img{
    width:60%;
    padding-right:20%;
    max-width:110px;
}

#skills .skill .skill-text{
    width:80%;
    text-align:left;
}

#skills .skill .skill-text img{
    width:60%;
}

#skills .skill .skill-text h4{
    font-size:1.5rem;
    margin:0.5rem 0;
}

#skills .skill .skill-text p{
    margin:0.5rem 0;
    font-size:1.2rem;
    font-weight:normal;
}

#skills .skill-block .marketing{
    padding-bottom:0;
}

@media(min-width:450px){
    #skills .skill .skill-text h4{
        font-size:2rem;
    }
    
    #skills .skill .skill-text p{
        font-size:1.5rem;
        width:90%;
    }
}

@media(min-width:640px){
    #skills .skill-block .skill {
        width:48%;
        margin:auto;
    }
    #skills .skill-block{
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        max-width: 1200px;
        margin: auto;
    }
    #skills .skill .skill-text h4 {
    font-size: 1.8rem;
    }
    #skills .skill .skill-img img{
        padding-right:10%;
    }
    
    #skills .skill .skill-text{
    width:100%;
    text-align:left;
   }
   #skills .skill .skill-img{
       text-align:center;
   }
}

#works{
    background-color:#eeeeee;
    padding: 5rem 2rem;
    margin:auto;
    text-align:center;
}

#works .work img{
    width: 90%;
}

#works .work-block .work h6{
    font-size:1.5rem;
    margin:0 auto;
    padding: 1.5rem 0 0rem 0;
}

#works .work-block .work p{
    font-size:1rem;
}

#works .work{
    padding:1rem 0 2rem 0;
}

@media(min-width:500px){
    #works .work-block .work h6{
        font-size:1.8rem;
    }
}

@media(min-width:640px){
    #works .work-block{
        display:flex;
        max-width: 1200px;
        margin:0 auto;
    }
    #works .work{
        width:33%;
    }
    #works .work img{
        width:90%;
    }
    #works .work h6{
        width:90%;
        margin:0 auto;
        padding:1rem 0;
    }
}

@media(max-width:350px){
    #works .work img {
        width: 95%;
    }
}

#contact{
    text-align: center;
    margin: auto;
    padding: 5rem 2rem 3rem 2rem;
}

#contact .contact-block img{
    width:25%;
    max-width:150px;
    min-width:90px;
}

footer .foot{
    background-color:#808000;
    color:white;
    text-align: center;
}

footer .foot p{
    margin:0;
    font-size:0.7rem;
    padding:1rem 0;
}

#about,#skills,#works, #vision, #detail{
    opacity:0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

#main .fade_on{
    opacity:1;
}

#detail{
    text-align:center;
    padding:10rem 2rem 5rem 2rem;
    background-color:#eeeeee;
}

#detail .pc-about .about-text{
    text-align:left;
    width:80%;
    margin-left:15%;
    padding-top:2rem;
}

#detail .pc-about .about-text span{
    font-weight:bold;
}

@media(min-width:640px){
    #detail .selfimage img{
        max-width:350px;
    }
    #detail .pc-about .about-text{
        padding-top:5rem;
        width:50%;
        margin:0 auto;
        max-width:430px;
    }
    #detail .pc-about .about-text p{
        font-size:2rem;
    }
}

#vision{
    margin:0 auto;
    padding:5rem 2rem;
}

#vision .vision-text{
    text-align:left;
    width:90%;
    margin:auto;
    max-width:480px;
}

#vision .vision-text p{
    font-weight:bold;
}

#vision .vision-text p span{
    background: linear-gradient(transparent 80%, #336699 80%);
}

@media(min-width:500px){
    #vision .vision-text{
        width:80%;
    }
}

@media(min-width:640px){
    #vision .vision-text p{
    font-size:2rem;
    }
}

#points{
    background-color:#eeeeee;
    text-align:center;
    padding:5rem 2rem;
}

#points .point .point-box{
    background-color:#ffffff;
    padding:2rem 1rem;
    margin-bottom:2rem;
}

#points .point .point-box h5{
    font-size:2rem;
    color:#336699;
    margin-top:0;
    margin-bottom:0rem;
    padding-bottom:1.5rem;
}

#points .point .point-box p{
    width:90%;
    margin:auto;
    text-align:left;
}

@media(min-width:450px){
    #points .point .point-box{
        width:80%;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:4rem;
    }
    #points .point .objective{
        margin-bottom:0;
    }
}

@media(min-width:640px){
    #points .point{
        display:flex;
        justify-content:space-between;
    }
    #points .point .point-box{
        margin-left:1.5rem;
        margin-right:1.5rem;
    }
    
    #points .point{
        max-width:1200px;
        margin:0 auto;
    }
}